app/src/main/res/xml/schema_level_definitions_ladder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.delsquaredllc.com/lightningdots/clicktargetprofilescripts/"
    elementFormDefault="qualified"
    xmlns="http://www.delsquaredllc.com/lightningdots/clicktargetprofilescripts/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="Levels">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Level" type="level" minOccurs="0" maxOccurs="unbounded">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <!--<xs:unique name="unique-level">
            <xs:selector xpath="ctps:Level"></xs:selector>
            <xs:field xpath="@level"></xs:field>
        </xs:unique>-->
    </xs:element>

    <xs:complexType name="level">
        <xs:all>
            <xs:element name="ClickTargets" type="clickTargets">
                <!--<xs:unique name="unique-ClickTarget-name">
                    <xs:selector xpath="ctps:ClickTarget"/>
                    <xs:field xpath="@name"/>
                </xs:unique>-->
            </xs:element>
            <xs:element name="TransitionTriggers" type="transitionTriggers" minOccurs="0">
                <!--<xs:unique name="unique-TransitionTrigger-source-target">
                    <xs:selector xpath="ctps:TransitionTrigger"/>
                    <xs:field xpath="@sourceClickTargetName"/>
                    <xs:field xpath="@sourceClickTargetProfileName"/>
                    <xs:field xpath="@targetClickTargetName"/>
                    <xs:field xpath="@targetClickTargetProfileName"/>
                </xs:unique>-->
            </xs:element>
            <xs:element name="RandomChangeTriggers" type="randomChangeTriggers" minOccurs="0">
                <!--<xs:unique name="unique-RandomChangeTrigger-sourceVariable-targetVariable">
                    <xs:selector xpath="ctps:RandomChangeTrigger"/>
                    <xs:field xpath="@sourceClickTargetName"/>
                    <xs:field xpath="@sourceClickTargetProfileName"/>
                    <xs:field xpath="@sourceVariable"/>
                    <xs:field xpath="@targetClickTargetName"/>
                    <xs:field xpath="@targetClickTargetProfileName"/>
                    <xs:field xpath="@targetVariable"/>
                </xs:unique>-->
            </xs:element>
            <xs:element name="ClickTargetSettingsShuffles" type="clickTargetSettingsShuffles" minOccurs="0">

            </xs:element>
            <xs:element name="Attractors" type="positionEvolverVariableAttractors" minOccurs="0">

            </xs:element>
        </xs:all>
        <xs:attribute name="level" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="clickTargets">
        <xs:sequence>
            <xs:element name="ClickTarget" type="clickTarget"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clickTarget">
        <xs:sequence>
            <xs:element name="ClickTargetProfileScript" type="clickTargetProfileScript"
                maxOccurs="unbounded">
                <!--<xs:unique name="unique-ClickTargetProfile-name">
                    <xs:selector xpath="ctps:ClickTargetProfile"/>
                    <xs:field xpath="@name"/>
                </xs:unique>-->
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="clickTargetProfileScript">
        <xs:sequence>
            <xs:element name="ClickTargetProfile" type="clickTargetProfile"
                maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="scriptTransitionMode" type="transitionMode"/>
        <xs:attribute name="scriptTransitionInterval" type="transitionInterval"/>
        <xs:attribute name="scriptCycleDirection" type="cycleDirection"/>
        <xs:attribute name="initialClickTargetProfile" type="xs:integer"/>
        <xs:attribute name="randomInitialClickTargetProfile" type="trueOrFalse"/>
    </xs:complexType>

    <xs:complexType name="clickTargetProfile">

        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Variables" type="variables" minOccurs="0">
                <!--<xs:unique name="unique-variable-name">
                    <xs:selector xpath="ctps:Variable"/>
                    <xs:field xpath="@name"/>
                </xs:unique>-->
            </xs:element>
        </xs:choice>

        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="scriptTransitionValue" type="xs:float"/>
        <xs:attribute name="targetShape" type="targetShape"/>
        <xs:attribute name="targetIsClickable" type="trueOrFalse"/>
        <xs:attribute name="targetVisibility" type="visibility"/>
        <xs:attribute name="mass" type="xs:float"/>

    </xs:complexType>

    <xs:complexType name="variables">
        <xs:sequence>
            <xs:element name="Variable" type="targetVariable" minOccurs="0" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="targetVariable">
        <xs:all minOccurs="0">
            <xs:element name="TimedChange" type="timedChange" minOccurs="0" />
            <xs:element name="BoundaryEffect" type="boundaryEffect" minOccurs="0" />
        </xs:all>
        <xs:attribute name="name" type="targetVariableName" use="required"/>
        <xs:attribute name="minimumValue" type="xs:float"/>
        <xs:attribute name="initialValue" type="xs:float"/>
        <xs:attribute name="maximumValue" type="xs:float"/>
        <xs:attribute name="randomInitialValue" type="trueOrFalse"/>
        <xs:attribute name="randomInitialSign" type="trueOrFalse"/>
        <xs:attribute name="canChange" type="trueOrFalse"/>
        <xs:attribute name="transitionContinuity" type="transitionContinuity"/>
    </xs:complexType>

    <xs:complexType name="timedChange">
        <xs:attribute name="canRandomlyChange" type="trueOrFalse"/>
        <xs:attribute name="value" type="xs:float"/>
        <xs:attribute name="interval" type="timedChangeInterval"/>
        <xs:attribute name="bounceOnRandomChange" type="trueOrFalse"/>
    </xs:complexType>

    <xs:complexType name="boundaryEffect">
        <xs:attribute name="boundaryEffect" type="boundaryType"/>
        <xs:attribute name="bounceOnHardBoundary" type="trueOrFalse"/>
        <xs:attribute name="mirrorAbsoluteValueBoundaries" type="trueOrFalse"/>
        <xs:attribute name="bounceOnInternalBoundary" type="trueOrFalse"/>
    </xs:complexType>

    <xs:complexType name="positionEvolverVariableAttractors">
        <xs:sequence>
            <xs:element name="Attractor" type="positionEvolverVariableAttractor"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="positionEvolverVariableAttractor">
        <xs:sequence>
            <xs:element name="AttractorVariables" type="positionEvolverVariableAttractorVariables" />
        </xs:sequence>
        <xs:attribute name="type" type="positionEvolverVariableAttractorType"/>
        <xs:attribute name="sourceClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="sourceClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="positionEvolverFamilyName" type="xs:string" use="required"/>
        <xs:attribute name="positionEvolverName" type="xs:string" use="required"/>
        <xs:attribute name="mode" type="positionEvolverVariableAttractorMode"/>
        <xs:attribute name="mass" type="xs:float" use="required"/>
        <xs:attribute name="isRepeller" type="trueOrFalse"/>
    </xs:complexType>

    <xs:complexType name="positionEvolverVariableAttractorVariables">
        <xs:sequence>
            <xs:element name="AttractorVariable" type="positionEvolverVariableAttractorVariable"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="positionEvolverVariableAttractorVariable">
        <xs:attribute name="name" type="targetVariableName" use="required"/>
        <xs:attribute name="initialFixedValue" type="xs:float"/>
        <xs:attribute name="isPercent" type="trueOrFalse"/>
    </xs:complexType>

    <xs:simpleType name="positionEvolverVariableAttractorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXED_VALUE"/>
            <xs:enumeration value="OTHER_OBJECT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="positionEvolverVariableAttractorMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SNAP_TO_VECTOR"/>
            <xs:enumeration value="MAX_TO_VECTOR"/>
            <xs:enumeration value="GRAVITY_FIELD"/>
            <xs:enumeration value="GRAVITY"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="randomChangeTriggers">
        <xs:sequence>
            <xs:element name="RandomChangeTrigger" type="randomChangeTrigger" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="randomChangeTrigger">
        <xs:sequence>
            <xs:element name="SyncVariableTriggers" type="syncVariableTriggers" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="sourceClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="sourceClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="sourceVariable" type="targetVariableName" use="required"/>
        <xs:attribute name="targetClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="targetVariable" type="targetVariableName" use="required"/>
    </xs:complexType>

    <xs:complexType name="transitionTriggers">
        <xs:sequence>
            <xs:element name="TransitionTrigger" type="transitionTrigger"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="transitionTrigger">
        <xs:sequence>
            <xs:element name="SyncVariableTriggers" type="syncVariableTriggers" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="sourceClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="sourceClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="randomTargetClickTarget" type="trueOrFalse"/>
        <xs:attribute name="randomTargetClickTargetProfile" type="trueOrFalse"/>
    </xs:complexType>

    <xs:complexType name="syncVariableTriggers">
        <xs:sequence>
            <xs:element name="SyncVariableTrigger" type="syncVariableTrigger"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="syncVariableTrigger">
        <xs:attribute name="sourceClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="sourceClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetName" type="xs:string" use="required"/>
        <xs:attribute name="targetClickTargetProfileName" type="xs:string" use="required"/>
        <xs:attribute name="variableName" type="targetVariableName" use="required"/>
        <xs:attribute name="mode" type="syncVariableMode" default="SNAP_TO_TARGET" />
        <xs:attribute name="value" type="xs:float" />
    </xs:complexType>

    <xs:simpleType name="syncVariableMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SNAP_TO_TARGET"/>
            <xs:enumeration value="RANDOMIZE"/>
            <xs:enumeration value="LITERAL_VALUE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="clickTargetSettingsShuffles">
        <xs:sequence>
            <xs:element name="ClickTargetSettingsShuffle" type="clickTargetSettingsShuffle"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clickTargetSettingsShuffle">
        <xs:sequence>
            <xs:element name="ClickTargetSettingsShuffleSettings" type="clickTargetSettingsShuffleSettings" />
        </xs:sequence>
        <xs:attribute name="preserveOrder" type="trueOrFalse"/>
    </xs:complexType>

    <xs:complexType name="clickTargetSettingsShuffleSettings">
        <xs:sequence>
            <xs:element name="ClickTargetSettingsShuffleSetting" type="clickTargetSettingsShuffleSetting"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clickTargetSettingsShuffleSetting">
        <xs:attribute name="name" type="clickTargetSettingName" use="required"/>
    </xs:complexType>

    <xs:simpleType name="clickTargetSettingName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="initialClickTargetProfileName"/>
        </xs:restriction>
    </xs:simpleType>





    <xs:simpleType name="targetShape">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CIRCLE"/>
            <xs:enumeration value="SQUARE"/>
            <xs:enumeration value="TRIANGLE_EQUILATERAL"/>
            <xs:enumeration value="STAR_5_POINTS"/>
            <xs:enumeration value="RHOMBUS_45"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="targetVariableName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="position_horizontal"/>
            <xs:enumeration value="position_vertical"/>
            <xs:enumeration value="speed"/>
            <xs:enumeration value="direction"/>
            <xs:enumeration value="dSpeed"/>
            <xs:enumeration value="dDirection"/>
            <xs:enumeration value="radius"/>
            <xs:enumeration value="dRadius"/>
            <xs:enumeration value="d2Radius"/>
            <xs:enumeration value="rotation"/>
            <xs:enumeration value="dRotation"/>
            <xs:enumeration value="d2Rotation"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:simpleType name="trueOrFalse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="visibility">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VISIBLE"/>
            <xs:enumeration value="HIDDEN"/>
            <xs:enumeration value="GONE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="levelInteger">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="transitionMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONSTANT"/>
            <xs:enumeration value="CYCLE"/>
            <xs:enumeration value="RANDOM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="transitionInterval">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONSTANT"/>
            <xs:enumeration value="REGULAR"/>
            <xs:enumeration value="RANDOM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cycleDirection">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INCREASING"/>
            <xs:enumeration value="DECREASING"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="timedChangeInterval">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="FIXED"/>
            <xs:enumeration value="RANDOM"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="boundaryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HARD"/>
            <xs:enumeration value="STICKY"/>
            <xs:enumeration value="PERIODIC"/>
            <xs:enumeration value="PERIODIC_REFLECTIVE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="transitionContinuity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONTINUOUS"/>
            <xs:enumeration value="DISCONTINUOUS"/>
            <xs:enumeration value="DEFAULT"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
